* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i, svg {
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background-color: rgb(146, 255, 255);
}
.kick-pad.active {
    background-color: rgb(57, 194, 194);
}
.snare-pad{
    background-color: rgb(255, 155, 146);
}

.snare-pad.active {
    background-color: rgb(216, 102, 92);
}

.hihat-pad{
    background-color: rgb(186, 255, 146);
}
.hihat-pad.active {
    background-color: rgb(86, 131, 60);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-track, .snare-track, .hihat-track{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick, .snare, .hihat{
    display: flex;
}

.controls {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(88, 88, 88);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.mute.active{
    background: rgb(190, 190, 190);
}

.tempo{
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background-color: rgb(88, 88, 88);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}
@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}


